.table-element {
    transition-duration: 200ms;
}

.multi-dimensional-element {
}

.single-dimensional-element {
    flex-direction: row;
}

.single-dimensional-element--folded {
}

.cell {
    margin-right: 3px;
    min-width: 50px;
}

.cell--folded {
}

.table-element__header-element {
}

.table-element__header-content {
}

.table-element__body-element {
}

.table-element__add-column-button {
}

.cell__property-field__label {
    width: 15px;
}
